<div class="container">
  <div class="left-container">
    <img
      src="assets/images/Forget-Password.svg"
      alt="Sign Up Image"
      class="image"
    />
  </div>
  <div class="right-container">
    <div class="card">
      <h2>Forget Password?</h2>

      <div class="form-container">
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
          <div class="form-field">
            <label>Email</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              [(ngModel)]="email"
              [pattern]="emailPattern"
              required
            />
            <div
              *ngIf="
                forgetPasswordForm.get('email')?.invalid &&
                (forgetPasswordForm.get('email')?.dirty ||
                  forgetPasswordForm.get('email')?.touched)
              "
              class="error"
            >
              Please enter a valid email address.
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="forgetPasswordForm.invalid || !forgetPasswordForm.touched"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
