<div class="container">
  <div class="left-container">
    <img
      src="assets/images/Forget-Password.svg"
      alt="Sign Up Image"
      class="image"
    />
  </div>
  <div class="right-container">
    <div class="card">
      <h2>Create New Password</h2>

      <div class="form-container">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
          <div class="form-field">
            <label>New Password</label>
            <div class="password-wrapper">
              <input
                type="{{ hidePassword ? 'password' : 'text' }}"
                name="newPassword"
                formControlName="newPassword"
                [(ngModel)]="newPassword"
                required
              />
              <button
                mat-icon-button
                type="button"
                (click)="togglePasswordVisibility()"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            <div
              *ngIf="
                resetPasswordForm.get('newPassword')?.invalid &&
                (resetPasswordForm.get('newPassword')?.dirty ||
                  resetPasswordForm.get('newPassword')?.touched)
              "
              class="error"
            >
              Please enter a password.
            </div>
          </div>
          <div class="form-field">
            <label>Confirm New Password</label>
            <div class="password-wrapper">
              <input
                type="{{ hidePasswordConfirm ? 'password' : 'text' }}"
                name="confirmPassword"
                formControlName="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
              />
              <button
                mat-icon-button
                type="button"
                (click)="togglePasswordConfirmVisibility()"
              >
                <mat-icon>{{
                  hidePasswordConfirm ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </div>
            <div
              *ngIf="
                resetPasswordForm.get('newPassword')?.value !==
                  resetPasswordForm.get('confirmPassword')?.value &&
                (resetPasswordForm.get('confirmPassword')?.dirty ||
                  resetPasswordForm.get('confirmPassword')?.touched)
              "
              class="error"
            >
              Password does not match.
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="resetPasswordForm.invalid || !resetPasswordForm.touched"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
